.headerContainer {
  background-color: #ece5dd;
  height: 55px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  cursor: pointer;
}
.headerItemsLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #b0b0b0;
  height: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.281);
}
.headerItemsRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.281);
}

.containerProfile {
  background-color: #dfe9e8;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 1px;
}
.infoChat {
  border-bottom: solid 1px rgba(78, 78, 78, 0.151);
}
.userName {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.lastChat {
  color: rgba(78, 78, 78, 0.842);
}
