.containerAll {
  margin: 20px;
}

.headerContainer {
  background-color: #075e55;
  height: 45px;
  padding: 5px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ece5dd;
}

.headerItemsLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.headerItemsRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.backIcon svg {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.headerIcons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.headerIconsDots {
  width: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-left: 7px;
}

.containerProfile {
  background-color: #ece5dd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 1px;
}

.userName {
  font-size: 16px;
  color: #ece5dd;
  font-weight: bold;
}

.lastSeen {
  font-size: 10px;
  color: #ece5dd;
}

.iconX {
  width: 26px;
  height: 26px;
  fill: #dfe9e8;
}
