.containerAll {
  margin: 20px;
}

.chatOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white; /* o semi-transparente si querés */
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #ece5dd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 280px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-image: url('./assets/bg-whatsapp.jpg');
  position: relative;
  overflow: hidden;
  position: relative; /* AÑADIR ESTO */
  overflow: hidden; /* Evita que se desborde cuando se anima */
}

.chatsContainer {
  background-color: #ece5dd;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.chatsContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@keyframes subir {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
