.bubleContainer {
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 90%;
  min-width: 20%;
  padding: 5px 40px 13px 7px;
  position: relative;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.bubleContainerSend {
  align-self: flex-end;
  background-color: #e2ffc9;
  border-radius: 5px;
  max-width: 80%;
  min-width: 30%;
  padding: 5px 30px 13px 7px;
  position: relative;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.messageInfo {
  position: absolute;
  right: 5px;
  bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hour {
  font-size: 11px;
  color: #b0b0b0;
}

.checked {
  width: 14px;
  height: 14px;
  color: #b0b0b0;
  position: relative;
}

.iconX {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(90%) saturate(367%)
    hue-rotate(178deg);
}

.iconX2 {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1px;
  bottom: -2px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(90%) saturate(367%)
    hue-rotate(178deg);
}
